/assets/section00.html
/assets/section01.html
/assets/section02.html
/assets/section03.html
/assets/section04.html
/assets/section05.html
/assets/section06.html
/assets/section07.html
/assets/section08.html
/assets/section09.html
/assets/section10.html
/assets/section11.html
/assets/section12.html
/assets/section13.html
/assets/section14.html
/assets/section15.html
/project.properties
/.classpath
/.project
/bin/classes
/bin/dexedLibs
/bin/res
/bin/AndroidManifest.xml
/bin/classes.dex
/bin/HtmlReader.apk
/bin/jarlist.cache
/bin/R.txt
/bin/resources.ap_
/.settings
